configuration {
	theme:         "klorax.dracula";
	font:          "DankMono 12";
	modi:          "drun,run,window,calc";
	terminal:      "termite";
	show:          "drun";
	sidebar-mode:	true;
	show-icons:	true;
}

/* vim:ft=css
