<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colors</key>
	<array>
		<string>d67a77</string>
		<string>ab7957</string>
		<string>766048</string>
		<string>f3c866</string>
		<string>bbac52</string>
		<string>757abd</string>
		<string>6765a7</string>
		<string>514b72</string>
		<string>b39bd3</string>
		<string>735c77</string>
		<string>4a424b</string>
		<string>b77aa8</string>
		<string>df889f</string>
		<string>efadb3</string>

	</array>
	<key>name</key>
	<string>Valley</string>
</dict>
</plist>
